# load the Stage plugin simulation driver and attach simulation,
# position2d and ranger interfaces to the model "r0". ranger:0 is the
# sonar, ranger:1 is the laser.
driver
(		
  name "stage"
  provides [ "simulation:0" ]
  plugin #put here the path to your stage plugin
  worldfile "simple.world"	
)

driver
(		
  name "stage"
  provides [ "position2d:0" "ranger:0"]
  model "robot" 
)

# use Player's provided ranger-to-laser conversion driver so that the
# Player demo examples/libplayerc++/laserobstacleavoid will work as a demo.
driver
(
  name "rangertolaser"
  provides [ "laser:0" ]
  requires [ "ranger:0" ]
)
